<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content=" سالن زیبایی من">
    <title>استودیو مو |@ViewData["Title"] </title>
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
</head>

<body>

  <div id="main-Div">


@RenderBody()

  <!-- Nav : شروع منوی کشویی **********-->
<div id="sideNav" >
  <nav>
    <ul>
      <li> <a href="#banner">صفحه اصلی</a> </li>
      <li> <a href="#Features">قابلیت ها</a> </li>
      <li> <a href="#service">خدمات</a> </li>
      <li> <a href="#testimonial">نظر مشتریان</a> </li>
      <li> <a href="contact.html">تماس با ما</a> </li>

    </ul>
  </nav>

</div>

<div id="menuBtn">
  <img src="~/photo/menu.svg" id="menu">
</div>

<!-- باز و بسته شدن منوی کشویی با استفاده از جاوا اسکریپت -->
<script>

var menuBtn=document.getElementById("menuBtn")
var menu=document.getElementById("menu")
var sideNav=document.getElementById("sideNav")
sideNav.style.right="-200px"

menuBtn.onclick=function(){
  if(sideNav.style.right=="-200px"){
    sideNav.style.right="0"
    menu.src="/photo/closeMenu.svg";
  }
  else {
    sideNav.style.right="-200px"
    menu.src="/photo/menu.svg";
  }
}

</script>
<!-- باز و بسته شدن منوی کشویی با استفاده از جاوا اسکریپت -->
<!-- Nav :  پایان منوی کشویی********** -->



<!-- FOOTER  :  شروع بخش -->
<section id="footer">
  <div><small class="copyright">طراحی شده توسط &copy; <a href=# target="_blank">یاسر محمدی پور</a></small></div>
</section>
<!-- FOOTER  :  پایان بخش -->

<!--حرکت آرام بین صفحات با کلیک بر روی گزینه های منوی کشویی با استفاده از جاوا اسکریپت  -->
<script>
var scroll = new SmoothScroll('a[href*="#"]', {
speed: 1000,
speedAsDuration: true
});
</script>
<!--حرکت آرام بین صفحات با کلیک بر روی گزینه های منوی کشویی با استفاده از جاوا اسکریپت  -->

</div>
</body>

</html>
