
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="footer">
  <div><small class="copyright">طراحی شده توسط &copy; <a href=# target="_blank">یاسر محمدی پور</a></small></div>
</section>
