
 <section id="banner">
<img class="logo" src="" alt="">
<div class="banner-text">
    <h1>استودیو مو</h1>
    <p>حالت مو همان حالت زندگی ست</p>
</div>

<div class="banner-btn">
    <a asp-controller="Home" asp-action="Contact"><span></span>درخواست مشاوره</a>
    <a href="#service"><span></span>آشنایی با خدمات</a>
</div>

  </section>
