
@{
}
<section id="Features">
  <div class="title-text">
    <p>تماس با ما</p>

  </div>
  <div> <h1 class="text-contactUS">با ثبت درخواست مشاوره در اسرع وقت تماس خواهیم گرفت</h1></div>
  <div class="ContactUs">
    <form action="/action_page.php">
      <label for="fname"></label>
      <input  type="text" id="fname" name="firstname" placeholder="نام و نام خانوادگی">
  
      <label for="lname"></label>
      <input  type="text" id="lname" name="lastname" placeholder="شماره تماس">

      <label for="items"></label>
      <select class="select"  name="item" id="items">
        <option selected="">موضوع مشاوره</option>
        <option value="1">موضوع 1</option>
        <option value="2">موضوع 2</option>
        <option value="3">موضوع 3</option>
        <option value="4">موضوع 4</option>
      </select>
      

      
    </form>
    <div class="ContactUs-btn">
      <a href="home.html"> درخواست مشاوره</a>
      <span></span>
  </div>
  </div>
</section>

<div class="address">
     <div class="address-left">
    <h2>ساعات کاری </h2>
    <p>شنبه تا چهارشنبه -  8 صبح تا 5 بعدازظهر</p>
    <p>پنج شنبه - 9 صبح تا 12 ظهر</p>
  </div>
  
    
    <div class="address-right">
    <h2>راه های ارتباطی</h2>
    <p>تهران، اندیشه، کوثر 1، پلاک 12</p>
    <p>yassermohamadipour@gmail.com</p>
    <p>09305088564</p>
  </div>
</div>
<!-- FEATURES  : پایان بخش-->