@model IEnumerable<BeautySite_MVC.Models.Service>

<section id="Features">
  <div class="title-text">
    <p>قابلیت ها</p>
    <h1>چرا ما رو انتخاب کنید</h1>
  </div>
  <div class="featureBox">

    <div class="features">
      <h1>قابلیت 1</h1>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی  </p>
    </div>

    <div class="features-img">
      <img src="~/photo/feature2.jpg">
    </div>
<br><br><br>
    <div class="features-img">
      <img src="~/photo/feature2.jpg">
    </div>

    <div class="features">
      <h1>قابلیت 2</h1>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی  </p>
    </div>

    

  </div>
</section>