@model List<Service>

@{
    ViewData["Title"] = "صفحه اصلی";
}
@section MenuList{
     <li> <a href="#Features">قابلیت ها</a> </li>
      <li> <a href="#service">خدمات</a> </li>
      <li> <a href="#testimonial">نظر مشتریان</a> </li>
}


  <!-- HOME  :  شروع بنر صفحه اصلی-->
 <partial name="Banner" />
<!-- HOME  :  پایان بنر صفحه اصلی -->

<!-- FEATURES  :  شروع بخش-->


<!--   <partial name="Features"/>   -->
@* @await Html.PartialAsync("Features") *@
@await Html.PartialAsync("Features", new List<Service>())

<!-- FEATURES  : پایان بخش-->


<!-- SERVICES  :  شروع بخش -->

@await Component.InvokeAsync("_projects")

<!-- SERVICES  پایان بخش ب-->


<!-- TESTIMONIAL  :  شروع بخش -->
@await Component.InvokeAsync("_Testimonial")
<!-- TESTIMONIAL  :  پایان بخش -->
