

@{
    ViewData["Title"] = "صفحه اصلی";
}
@section MenuList{
     <li> <a href="#Features">قابلیت ها</a> </li>
      <li> <a href="#service">خدمات</a> </li>
      <li> <a href="#testimonial">نظر مشتریان</a> </li>
}


  <!-- HOME  :  شروع بنر صفحه اصلی-->
  <section id="banner">
<img class="logo" src="" alt="">
<div class="banner-text">
    <h1>استودیو مو</h1>
    <p>حالت مو همان حالت زندگی ست</p>
</div>

<div class="banner-btn">
    <a asp-controller="Home" asp-action="Contact"><span></span>درخواست مشاوره</a>
    <a href="#service"><span></span>آشنایی با خدمات</a>
</div>

  </section>
<!-- HOME  :  پایان بنر صفحه اصلی -->

<!-- FEATURES  :  شروع بخش-->
<section id="Features">
  <div class="title-text">
    <p>قابلیت ها</p>
    <h1>چرا ما رو انتخاب کنید</h1>
  </div>
  <div class="featureBox">

    <div class="features">
      <h1>قابلیت 1</h1>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی  </p>
    </div>

    <div class="features-img">
      <img src="~/photo/feature2.jpg">
    </div>
<br><br><br>
    <div class="features-img">
      <img src="~/photo/feature2.jpg">
    </div>

    <div class="features">
      <h1>قابلیت 2</h1>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی  </p>
    </div>

    

  </div>
</section>
<!-- FEATURES  : پایان بخش-->


<!-- SERVICES  :  شروع بخش -->
<section id="service">
  <div class="title-text">
    <p>خدمات</p>
    <h1>ما بهترش رو فراهم می کنیم</h1>
  </div>


  <div class="serviceBox">
  
    <div class="single-service">
    <img src="~/photo/beauty2.jpeg" >
    <div class="overlay">
      <div class="service-description">
        <h1>عنوان1</h1>
        <hr>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون </p>
      </div>
    
    </div>
        </div>

  
    <div class="single-service">
<img src="~/photo/beauty1.jpeg" >
<div class="overlay">
  <div class="service-description">
    <h1>عنوان2</h1>
    <hr>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون </p>
  </div>

</div>
    </div>
    
    <div class="single-service">
<img src="~/photo/beauty3.jpeg" >
<div class="overlay">
  <div class="service-description">
    <h1>عنوان4</h1>
    <hr>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون </p>
  </div>

</div>
    </div>
    <div class="single-service">
<img src="~/photo/beauty4.jpeg" >
<div class="overlay">
  <div class="service-description">
    <h1>عنوان3</h1>
    <hr>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون </p>
  </div>

</div>
    </div>
  </div>
  
</section>
<!-- SERVICES  پایان بخش ب-->


<!-- TESTIMONIAL  :  شروع بخش -->
<section id="testimonial">
  <div class="title-text">
    <p>نظر مشتریان</p>
    <h1>در مورد ما چه می گویند</h1>
  </div>

  <div class="testimonial-row">
    <div class="testimonial-column">
      <div class="user">
        <div class="user-info">
          <h4>سمیرا</h4>

        </div>
        <img src="~/photo/person1.jpg" >
        
      </div>

          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و طراحان گرافیک است، چاپگرها و 
          </p>
    </div>

    <div class="testimonial-column">
      <div class="user">
        <div class="user-info">
          <h4>سحر</h4>

        </div>
        <img src="~/photo/person2.jpg" >
        
      </div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، ولورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و  با استفاده از طراحان گرافیک است، چاپگرها و </p>
    </div>

    <div class="testimonial-column">
      <div class="user">
        <div class="user-info">
          <h4>یاسر</h4>

        </div>
        <img src="~/photo/person3.jpeg" >
       
      </div>
          <p>لورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و  ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و </p>
    </div>

  </div>

</section>
<!-- TESTIMONIAL  :  پایان بخش -->
